=begin
#Paubox Email API

#Public documentation for Paubox's Transactional Email API  ## Authentication  **IMPORTANT**: This API uses a custom authentication format that requires the \"Token token=\" prefix.  All requests must include the Authorization header in this exact format: ``` Authorization: Token token=YOUR_API_KEY ```  **Note for Code Generation Tools**: Auto-generated code from this specification may need to be modified to include the \"Token token=\" prefix, as most generators expect standard Bearer token format. 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Paubox
  class DynamicTemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a dynamic template
    # Upload a new Handlebars template for dynamic content generation
    # @param data_name [String] Name for the template
    # @param data_body [File] Handlebars template file (.hbs)
    # @param [Hash] opts the optional parameters
    # @return [DynamicTemplateResponse]
    def create_dynamic_template(data_name, data_body, opts = {})
      data, _status_code, _headers = create_dynamic_template_with_http_info(data_name, data_body, opts)
      data
    end

    # Create a dynamic template
    # Upload a new Handlebars template for dynamic content generation
    # @param data_name [String] Name for the template
    # @param data_body [File] Handlebars template file (.hbs)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DynamicTemplateResponse, Integer, Hash)>] DynamicTemplateResponse data, response status code and response headers
    def create_dynamic_template_with_http_info(data_name, data_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicTemplatesApi.create_dynamic_template ...'
      end
      # verify the required parameter 'data_name' is set
      if @api_client.config.client_side_validation && data_name.nil?
        fail ArgumentError, "Missing the required parameter 'data_name' when calling DynamicTemplatesApi.create_dynamic_template"
      end
      # verify the required parameter 'data_body' is set
      if @api_client.config.client_side_validation && data_body.nil?
        fail ArgumentError, "Missing the required parameter 'data_body' when calling DynamicTemplatesApi.create_dynamic_template"
      end
      # resource path
      local_var_path = '/dynamic_templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['data[name]'] = data_name
      form_params['data[body]'] = data_body

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DynamicTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PauboxToken']

      new_options = opts.merge(
        :operation => :"DynamicTemplatesApi.create_dynamic_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicTemplatesApi#create_dynamic_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a dynamic template
    # Delete a specific dynamic template by ID
    # @param id [String] Template ID to delete
    # @param [Hash] opts the optional parameters
    # @return [DeleteDynamicTemplate200Response]
    def delete_dynamic_template(id, opts = {})
      data, _status_code, _headers = delete_dynamic_template_with_http_info(id, opts)
      data
    end

    # Delete a dynamic template
    # Delete a specific dynamic template by ID
    # @param id [String] Template ID to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDynamicTemplate200Response, Integer, Hash)>] DeleteDynamicTemplate200Response data, response status code and response headers
    def delete_dynamic_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicTemplatesApi.delete_dynamic_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DynamicTemplatesApi.delete_dynamic_template"
      end
      # resource path
      local_var_path = '/dynamic_templates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDynamicTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PauboxToken']

      new_options = opts.merge(
        :operation => :"DynamicTemplatesApi.delete_dynamic_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicTemplatesApi#delete_dynamic_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a dynamic template
    # Retrieve a specific dynamic template by ID
    # @param id [String] Template ID
    # @param [Hash] opts the optional parameters
    # @return [DynamicTemplateResponse]
    def get_dynamic_template(id, opts = {})
      data, _status_code, _headers = get_dynamic_template_with_http_info(id, opts)
      data
    end

    # Get a dynamic template
    # Retrieve a specific dynamic template by ID
    # @param id [String] Template ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DynamicTemplateResponse, Integer, Hash)>] DynamicTemplateResponse data, response status code and response headers
    def get_dynamic_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicTemplatesApi.get_dynamic_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DynamicTemplatesApi.get_dynamic_template"
      end
      # resource path
      local_var_path = '/dynamic_templates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DynamicTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PauboxToken']

      new_options = opts.merge(
        :operation => :"DynamicTemplatesApi.get_dynamic_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicTemplatesApi#get_dynamic_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all dynamic templates
    # Retrieve all dynamic templates for your organization
    # @param [Hash] opts the optional parameters
    # @return [DynamicTemplateListResponse]
    def list_dynamic_templates(opts = {})
      data, _status_code, _headers = list_dynamic_templates_with_http_info(opts)
      data
    end

    # List all dynamic templates
    # Retrieve all dynamic templates for your organization
    # @param [Hash] opts the optional parameters
    # @return [Array<(DynamicTemplateListResponse, Integer, Hash)>] DynamicTemplateListResponse data, response status code and response headers
    def list_dynamic_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicTemplatesApi.list_dynamic_templates ...'
      end
      # resource path
      local_var_path = '/dynamic_templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DynamicTemplateListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PauboxToken']

      new_options = opts.merge(
        :operation => :"DynamicTemplatesApi.list_dynamic_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicTemplatesApi#list_dynamic_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a dynamically templated message
    # Send an email using a dynamic template with variable substitution
    # @param templated_message_request [TemplatedMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SingleSendResponse]
    def send_templated_message(templated_message_request, opts = {})
      data, _status_code, _headers = send_templated_message_with_http_info(templated_message_request, opts)
      data
    end

    # Send a dynamically templated message
    # Send an email using a dynamic template with variable substitution
    # @param templated_message_request [TemplatedMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SingleSendResponse, Integer, Hash)>] SingleSendResponse data, response status code and response headers
    def send_templated_message_with_http_info(templated_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicTemplatesApi.send_templated_message ...'
      end
      # verify the required parameter 'templated_message_request' is set
      if @api_client.config.client_side_validation && templated_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'templated_message_request' when calling DynamicTemplatesApi.send_templated_message"
      end
      # resource path
      local_var_path = '/templated_messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(templated_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SingleSendResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PauboxToken']

      new_options = opts.merge(
        :operation => :"DynamicTemplatesApi.send_templated_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicTemplatesApi#send_templated_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a dynamic template
    # Update an existing Handlebars template
    # @param id [String] Template ID to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :data_name Updated name for the template
    # @option opts [File] :data_body Updated Handlebars template file (.hbs)
    # @return [DynamicTemplateResponse]
    def update_dynamic_template(id, opts = {})
      data, _status_code, _headers = update_dynamic_template_with_http_info(id, opts)
      data
    end

    # Update a dynamic template
    # Update an existing Handlebars template
    # @param id [String] Template ID to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :data_name Updated name for the template
    # @option opts [File] :data_body Updated Handlebars template file (.hbs)
    # @return [Array<(DynamicTemplateResponse, Integer, Hash)>] DynamicTemplateResponse data, response status code and response headers
    def update_dynamic_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DynamicTemplatesApi.update_dynamic_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DynamicTemplatesApi.update_dynamic_template"
      end
      # resource path
      local_var_path = '/dynamic_templates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['data[name]'] = opts[:'data_name'] if !opts[:'data_name'].nil?
      form_params['data[body]'] = opts[:'data_body'] if !opts[:'data_body'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DynamicTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['PauboxToken']

      new_options = opts.merge(
        :operation => :"DynamicTemplatesApi.update_dynamic_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DynamicTemplatesApi#update_dynamic_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
